
.vs/99prolog_problem/v15/Server/sqlite3/db.lock
.vs/99prolog_problem/v15/Server/sqlite3/storage.ide
.vs/99prolog_problem/v15/Server/sqlite3/storage.ide-shm
.vs/99prolog_problem/v15/Server/sqlite3/storage.ide-wal
